div {
    margin: auto;
    text-align: center;
    border: 1px solid silver;
    padding: 15px;
    max-width: 650px;
    background-color: lightgray;
    border-radius: 10px;
}

#submit {
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: green;
    padding: 5px;
    border-radius: 5px;
}

#submit:hover {
    background-color: green;
    color: white;
    font-weight: bold;
}

#database{
    margin: auto;
    text-align: center;
    border: 1px solid silver;
    padding: 15px;
    max-width: 650px;
    background-color: lightgray;
    border-radius: 10px;
}